<!DOCTYPE html>
<html>
<head>
        <title>
        </title>
</head>
<body>
<form  name = "authentication" method = "POST" action = "/">
    <input name="username" placeholder="username"/>
    <input name="password" placeholder="password"/>
    <input name = "btn" type = "submit" value = "login"/>
    <br>
</form>
    </body>
</html>