<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
<form  name = "chat" method = "POST" action = "/send">
    <input name="message" placeholder="write smt"/>
    <input name = "send" type = "submit" value = "send"/>
</form>
<form action="/logout" method="POST">
    <input type="submit" value="log out">
</form>
</body>
</html>